@use "../../assets/mixins.scss";

.DropDown {
  @include mixins.position(fixed);
  @include mixins.flex(column, flex-start, flex-start);
  min-height: calc(100vh - 80px);
  background-color: var(--main-color);
  transition: transform 0.2s ease-out;
  transform: translateY(-100%);
  width: 100%;
  z-index: 3;

  &.active {
    transform: translateY(0);

    &.Home {
      transform: translateY(80px);
    }
  }

  @include mixins.breakpoint(laptop) {
    display: none;
  }

  &__link-container {
    @include mixins.flex(row, normal, center, 10px);
    cursor: pointer;
    width: 100%;
    padding: 20px;

    &:nth-child(3) {
      @include mixins.flex(row, space-between, center);
    }

    &:hover {
      background-color: var(--main-color-hover);
    }

    &__icon {
      font-size: 20px;
      transition: transform 0.3s ease-out;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  &__categories-dropdown {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--main-color);
    transition: max-height 0.3s ease-out;

    &__link {
      cursor: pointer;
      width: 100%;
      padding-block: 10px;
      padding-left: 20px;
      text-align: left;
      background-color: var(--gray);

      &:hover {
        background-color: var(--main-color-hover);
        color: black;
      }
    }

    &.active {
      max-height: 500px;
    }
  }
}
