@use "../../assets/mixins.scss";

.DropDown {
  @include mixins.position(fixed);
  @include mixins.flex(column, flex-start, flex-start);
  background-color: var(--main-color);
  transition: transform 0.2s ease-out;
  transform: translateY(-310px);
  width: 100%;
  z-index: 3;

  &.active {
    transform: translateY(0px);
  }

  @include mixins.breakpoint(laptop) {
    display: none;
  }

  &__bg-opacity {
    @include mixins.position(fixed, 0, auto, auto, 0);
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-out;

    @include mixins.breakpoint(laptop) {
      display: none;
    }

    &.active {
      background-color: rgba(0, 0, 0, 0.4);
      visibility: visible;
    }
  }

  .link-container {
    @include mixins.flex(row, normal, center, 10px);
    cursor: pointer;
    width: 100%;
    padding: 20px;
    border-top: 1px solid var(--main-color-hover);

    &:hover {
      background-color: var(--main-color-hover);
    }
  }

  .categories-dropdown {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: max-height 0.3s ease-out;

    &__link {
      cursor: pointer;
      width: 100%;
      padding: 10px;
      text-align: left;
      background-color: black;
      color: white;

      &:hover {
        background-color: var(--main-color-hover);
      }
    }

    &.active {
      max-height: 500px;
    }
  }
}
