@use "../../assets/mixins.scss";

.DropDown {
  @include mixins.position(fixed);
  @include mixins.flex(column, flex-start, flex-start);
  min-height: calc(100dvh - 80px);
  background-color: var(--main-color);
  transition: transform 0.2s ease-out;
  transform: translateY(-100%);
  width: 100%;
  z-index: 3;

  &.active {
    transform: translateY(0);

    &.Home {
      transform: translateY(80px);
    }
  }

  @include mixins.breakpoint(laptop) {
    display: none;
  }

  &__link-container {
    @include mixins.flex(row, normal, center, 10px);
    cursor: pointer;
    color: black;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2.5px;
    transition: text-decoration-color 0.3s ease-out;
    text-decoration-skip-ink: none;

    &:nth-child(3) {
      @include mixins.flex(row, flex-start, center, 10px);
    }

    &:nth-child(5) {
      text-decoration: none;

      p:first-child {
        text-decoration: underline;
        text-decoration-color: transparent;
        text-decoration-thickness: 2.5px;
        transition: text-decoration-color 0.3s ease-out;

        &:hover {
          text-decoration-color: black;
        }
      }
    }

    &:hover {
      text-decoration-color: black;
    }

    &__icon {
      font-size: 20px;
      color: black;
      transition: transform 0.3s ease-out;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  &__categories-dropdown {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--main-color);
    transition: max-height 0.3s ease-out;

    &__link {
      cursor: pointer;
      width: 100%;
      padding-block: 10px;
      padding-left: 20px;
      text-align: left;
      color: black;
      background-color: var(--gray);

      &:hover {
        background-color: #0000002b;
      }
    }

    &.active {
      max-height: 500px;
    }
  }
}
