@use "../../assets/mixins.scss";

.Pagination {
  @include mixins.flex(row, center, center, 10px);

  &__btn {
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
