@use "../../assets/mixins.scss";

.CarouselContainer {
  @include mixins.flex(column, flex-start, normal, 10px);
  position: relative;
  width: 100%;

  @include mixins.breakpoint(laptop) {
    @include mixins.flex(row, flex-start, center, 6px);
  }

  &__carousel {
    @include mixins.flex(row, flex-start, flex-start, 16px);
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-padding-left: 16px;
    overflow-x: scroll;
    width: 100%;
    padding: 16px;

    @include mixins.breakpoint(laptop) {
      @include mixins.flex(row, flex-start, flex-start, 24px);
      padding: 24px;
      scroll-padding-left: 24px;
    }
  }

  &__btn {
    display: none;
    cursor: pointer;
    min-width: 42px;
    border-radius: 50px;
    border: 1px solid var(--secondary-skeleton-color);
    transition: background-color 0.3s ease-out;
    z-index: 1;

    @include mixins.breakpoint(laptop) {
      display: block;
    }

    &:hover {
      background-color: var(--secondary-skeleton-color);
    }

    &__icon {
      font-size: 40px;
      padding: 5px;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &__mobile-btns {
    @include mixins.flex(row, normal, normal, 10px);
    padding-right: 16px;
    place-self: end;

    @include mixins.breakpoint(laptop) {
      display: none;
    }

    .CarouselContainer__btn {
      display: block;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
