@use "../../../assets/mixins.scss";

.CarouselCards {
  &__title.skeleton {
    border-radius: 20px;
    height: 29px;
    width: 200px;
    animation: skeleton-color 2s infinite;
  }

  .Card {
    &.skeleton {
      height: 336px;
      padding-top: 16px;
      @include mixins.flex(column, space-between, center);

      @include mixins.breakpoint(desktop) {
        padding-top: 24px;
        height: 375px;
      }
    }

    &__link {
      &:hover {
        .Card__link__img.skeleton {
          transform: none;
        }
      }
      &__img.skeleton {
        margin-inline: auto;
        object-fit: none;
        width: 188px;
        height: 200px;
        border-radius: 10px;
        animation: skeleton-color 2s infinite;

        @include mixins.breakpoint(desktop) {
          width: 172px;
        }
      }

      &__container {
        &.skeleton {
          width: 100%;
        }

        &__title.skeleton {
          width: 50%;
          height: 15px;
          border-radius: 10px;
          animation: skeleton-color 2s infinite;
        }

        &__description.skeleton {
          width: 100%;
          height: 10px;
          border-radius: 10px;
          animation: skeleton-color 2s infinite;
        }

        .price-container {
          &.skeleton {
            width: 100%;
          }

          &__price.skeleton {
            height: 10px;
            width: 40%;
            border-radius: 10px;
            animation: skeleton-color 2s infinite;
          }
        }
      }
    }
  }
}

@include mixins.skeleton-keyframe;
