@use "../../assets/mixins.scss";

.main-layout {
  max-width: 1440px;
  margin-inline: auto;
  margin-bottom: 40px;
  padding-top: 10vh;
  padding-inline: 10px;

  @include mixins.breakpoint(laptop) {
    padding-inline: 40px;
  }
}
