@use "../../assets/mixins.scss";

.main-layout {
  max-width: 1440px;
  margin-inline: auto;
  margin-bottom: 40px;
  padding-top: 80px;
  padding-inline: 20px;

  @include mixins.breakpoint(laptop) {
    padding-inline: 40px;
  }
}

.main-layout.CartPage {
  margin-block: 0;
}
