@use "../../assets/mixins.scss";

.CredForm {
  @include mixins.flex(column, normal, center, 10px);
  width: 80%;

  &__error-container {
    @include mixins.flex(row, center, center, 10px);
    width: 80%;
    background-color: rgb(255, 100, 100);
    border-radius: 10px;
    padding: 16px 10px;

    &__icon {
      font-size: 24px;
    }
  }

  &__input {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
  }

  &__submit {
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    padding-block: 10px;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease-out;
    cursor: pointer;

    &:hover {
      background-color: var(--primary-btn-color-hover);
    }

    &.pending {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__link {
    text-decoration: underline;
  }
}
