@use "../../assets/mixins.scss";

.CartAndLogout {
  position: relative;
  display: none;
  height: 100%;

  @include mixins.breakpoint(laptop) {
    @include mixins.flex(row, flex-start, center, 24px);
  }

  &__icon-container {
    position: relative;
    cursor: pointer;

    &__icon {
      font-size: 35px;
    }
  }

  &__user-image-container {
    height: 100%;
    align-content: center;
    padding-inline: 2px;

    &.active {
      background-color: var(--gray);
    }
  }

  &__user-container {
    display: none;
    @include mixins.position(absolute, auto, 0, 0);
    background-color: var(--main-color);
    padding: 10px 8px;
    transform: translateY(100%);
    border: 1px solid var(--main-color-hover);
    box-shadow: var(--box-shadow-secondary);
    border-radius: 0 0 4px 4px;

    &__details {
      @include mixins.flex(column, space-between, normal, 7px);
      font-size: 14px;
      min-width: max-content;

      &__email {
        font-size: 12px;
        opacity: 0.8;
      }
    }

    &.active {
      @include mixins.flex(row, normal, center, 10px);
    }
  }
}
