@use "../../assets/mixins.scss";

.CartAndLogout {
  display: none;

  @include mixins.breakpoint(laptop) {
    @include mixins.flex(row, flex-start, center, 20px);
  }

  &__icon {
    cursor: pointer;
    font-size: 22px;
  }
}
