@use "../assets/mixins.scss";

.CartPage {
  width: 100%;

  @include mixins.breakpoint(laptop) {
    display: grid;
    grid-template-areas: "details details" "products checkout";
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  &__products-details {
    grid-area: details;
    display: none;
    grid-template-columns: 120px repeat(3, 1fr) 20px;
    column-gap: 15px;
    border-bottom: 2px solid rgb(147, 147, 147);
    padding-bottom: 10px;

    @include mixins.breakpoint(laptop) {
      display: grid;
      width: calc(100% - 220px);
    }

    @include mixins.breakpoint(desktop) {
      width: calc(100% - 420px);
    }

    &__product {
      grid-column: span 2;
    }

    &__quantity,
    &__price {
      place-self: start;
    }
  }
}
