@use "../assets/mixins.scss";

.Store {
  @include mixins.flex(row);

  &__main-container {
    @include mixins.flex(column, normal, normal, 16px);
    min-height: calc(
      100vh - 80px - 16px - 40px
    ); // navbar - main layout's padding top - main layout's padding bottom
    width: 100%;

    @include mixins.breakpoint(laptop) {
      @include mixins.flex(column, normal, normal, 40px);
      min-height: calc(
        100vh - 80px - 40px - 40px
      ); // navbar - main layout's padding top - main layout's padding bottom
      width: 75%;
    }
    .sort-container--category-title {
      @include mixins.flex(row, space-between, center);

      .category-title {
        font-size: 24px;
        text-transform: capitalize;
      }

      .sort-container {
        @include mixins.flex(row, flex-start, center, 10px);
      }
    }

    &__products {
      @include mixins.flex(row, flex-start, flex-start, 16px);
      flex-wrap: wrap;

      @include mixins.breakpoint(laptop) {
        @include mixins.flex(row, flex-start, flex-start, 24px);
      }
    }
  }
}
