@use "../../assets/mixins.scss";

.FormProduct {
  &__quantity-container {
    width: 100%;
    @include mixins.flex(column, space-between, normal, 10px);
    margin-block: 10px;

    @include mixins.breakpoint(laptop) {
      margin-block: 20px;
    }

    &__text {
      font-size: 20px;
    }
  }

  &__btns-container {
    width: 100%;
    @include mixins.flex(column, flex-start, flex-start, 15px);

    @include mixins.breakpoint(laptop) {
      @include mixins.flex(row, flex-start, flex-start, 15px);
    }

    &__btn {
      cursor: pointer;
      width: 100%;
      text-align: center;
      color: white;
      background-color: black;
      padding-block: 10px;
      border-radius: 4px;
      transition: background-color 0.3s ease-out;

      &:hover {
        background-color: var(--primary-btn-color-hover);
      }
    }

    #buy-btn {
      background-color: var(--yellow);
      transition: background-color 0.3s ease-out;

      &:hover {
        background-color: var(--tertiary-btn-color-hover);
      }
    }
  }
}
