@use "../../assets/mixins.scss";

.Card {
  position: relative;
  min-width: 220px;
  border-radius: 10px;
  background-color: white;
  padding: 16px;
  scroll-snap-align: start;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  @include mixins.breakpoint(laptop) {
    padding: 24px;
  }

  &__link {
    @include mixins.flex(column, space-between, center, 16px);
    height: 100%;

    @include mixins.breakpoint(laptop) {
      @include mixins.flex(column, space-between, center, 24px);
    }

    &__sale {
      @include mixins.position(absolute, auto, auto, auto, 16px);
      padding: 3px 5px;
      border-radius: 20px;
      background-color: rgb(226, 35, 35);
      color: white;
      z-index: 1;

      @include mixins.breakpoint(laptop) {
        @include mixins.position(absolute, auto, auto, auto, 24px);
      }
    }

    &__img {
      width: auto;
      object-fit: contain;
      transition: transform 0.3s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    &__container {
      @include mixins.flex(column, flex-start, flex-start, 5px);
      position: relative;
      z-index: 1;

      &__title {
        font-size: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;

        @include mixins.breakpoint(laptop) {
          font-size: 16px;
        }
      }

      &__description {
        font-size: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;

        @include mixins.breakpoint(laptop) {
          font-size: 12px;
        }
      }

      .price-container {
        @include mixins.flex(row, flex-start, baseline, 6px);

        &__price {
          font-weight: bold;
          font-size: 13px;

          @include mixins.breakpoint(laptop) {
            font-size: 16px;
          }

          &.cut {
            text-decoration: line-through;
            color: rgba(0, 0, 0, 0.65);
            font-size: 12px;

            @include mixins.breakpoint(laptop) {
              font-size: 16px;
            }
          }
        }

        &__discounted-price {
          font-weight: bold;
          font-size: 13px;

          @include mixins.breakpoint(laptop) {
            font-size: 16px;
          }
        }
      }
      &__rating {
        --percent: calc(var(--rating) / 5 * 100%);

        font-size: 16px;
        line-height: 1;

        @include mixins.breakpoint(laptop) {
          font-size: 18px;
        }

        &::before {
          content: "★★★★★";
          background: linear-gradient(
            90deg,
            black var(--percent),
            var(--main-color-hover) var(--percent)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  &.Card__Store {
    min-width: auto;
    flex-basis: calc(50% - 8px);

    @include mixins.breakpoint(laptop) {
      flex-basis: calc(50% - 12px);
    }

    @include mixins.breakpoint(desktop) {
      flex-basis: calc(33.3% - 16px);
    }
  }
}
