@use "../../assets/mixins.scss";

.NavBar {
  @include mixins.position(fixed, 0);
  @include mixins.flex(row, space-between, center, 16px);
  height: 80px;
  width: 100%;
  padding-inline: 20px;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 4;

  @include mixins.breakpoint(laptop) {
    padding-inline: 40px;
  }

  &__link-logo {
    @include mixins.breakpoint(laptop) {
      display: none;
    }

    &__logo {
      object-fit: contain;
    }
  }

  .links {
    display: none;

    @include mixins.breakpoint(laptop) {
      @include mixins.flex(row, flex-start, center, 24px);
    }

    .categories-container {
      position: relative;
      cursor: pointer;

      &__text {
        @include mixins.flex(row, flex-start, center, 5px);
        .arrow {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 8px solid black;
          transition: transform 0.2s ease-out;
        }
      }

      .categories-dropdown-laptop {
        @include mixins.position(absolute);
        z-index: 1;
        display: none;
        width: 120px;
        background-color: var(--main-color);
        border-bottom: 1px solid var(--main-color-hover);
        border-left: 1px solid var(--main-color-hover);
        border-right: 1px solid var(--main-color-hover);

        &__link {
          cursor: pointer;
          padding-block: 10px;
          border-top: 1px solid var(--main-color-hover);
          width: 100%;

          &:hover {
            background-color: var(--main-color-hover);
          }
        }
      }
      &:hover,
      &:focus-within {
        .categories-container__text {
          .arrow {
            transform: rotate(180deg);
          }
        }

        .categories-dropdown-laptop {
          @include mixins.flex(column);
        }
      }
    }
  }

  .search-container {
    @include mixins.flex(row, space-between, center);
    // width: 200px;
    height: 35px;

    // @include mixins.breakpoint(laptop) {
    //   width: 350px;
    // }

    .search-btn {
      @include mixins.flex(row, center, center);
      width: 15%;
      height: 100%;
      background-color: black;
      border-radius: 10px 0 0 10px;
      cursor: pointer;

      .search-icon {
        color: white;
        font-size: 20px;
      }
    }

    .search-input {
      height: 100%;
      width: 85%;
      background-color: white;
      border-radius: 0 10px 10px 0;
      padding-left: 15px;
    }
  }

  //

  .burger-btn {
    @include mixins.flex(column, center, center, 4px);
    width: 26px;
    height: 26px;
    cursor: pointer;

    @include mixins.breakpoint(laptop) {
      display: none;
    }

    .burger-line {
      height: 2px;
      width: 100%;
      background-color: black;
      transition: all 0.2s ease-out;
      opacity: 1;

      &.active:first-child {
        transform: rotate(45deg) translateY(8px);
      }

      &.active:nth-child(2) {
        opacity: 0;
        width: 0;
      }

      &.active:last-child {
        transform: rotate(-45deg) translateY(-8px);
      }
    }
  }
}
