@use "../../assets/mixins.scss";

.CredFormWrapper {
  min-height: calc(
    100vh - 80px - 16px - 40px
  ); //Navbar's height - main-layout's padding-top - main-layout's padding-bottom

  @include mixins.breakpoint(laptop) {
    min-height: calc(
      100vh - 80px - 80px
    ); //Navbar's height - main-layout's padding-block
  }

  &__container {
    @include mixins.flex(column, normal, center, 20px);
    margin-inline: auto;
    background-color: white;
    padding-block: 30px;
    border-radius: 10px;
    max-width: 425px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
}
