@use "../../assets/mixins.scss";

.Footer {
  position: relative;
  background-color: black;
  color: white;

  &__news-container {
    @include mixins.flex(column, flex-start, flex-start, 10px);
    background-color: var(--yellow);
    border-radius: 0;
    width: 100%;

    margin-inline: auto;
    padding: 16px;
    z-index: 1;

    @include mixins.breakpoint(laptop) {
      @include mixins.position(absolute, 0, 50%);
      @include mixins.flex(row, space-between, center);
      transform: translate(50%, -50%);
      width: calc(100% - 80px); // Footer's padding-inline
      padding: 40px;
      border-radius: 10px;
    }

    &__label {
      font-size: 24px;
      color: black;
    }

    &__input-btn {
      @include mixins.flex(column, flex-start, flex-start, 16px);

      @include mixins.breakpoint(laptop) {
        @include mixins.flex(row, flex-start, center, 16px);
      }

      &__input {
        padding-block: 6px;
        padding-left: 6px;
        border-radius: 4px;
        background-color: white;
        color: black;
      }

      &__btn {
        padding: 10px;
        background-color: black;
        color: white;
        border-radius: 4px;
        transition: background-color 0.3s ease-out;

        &:hover {
          background-color: var(--primary-btn-color-hover);
        }
      }
    }
  }

  &__logo-socials {
    @include mixins.flex(row, space-between, center);
    padding: 16px;

    @include mixins.breakpoint(laptop) {
      padding-inline: 40px;
      padding-top: 76px;
    }

    &__logo {
      filter: invert(100%);
    }

    &__socials {
      @include mixins.flex(row, flex-start, flex-start, 10px);

      &__social {
        font-size: 26px;
        color: white;
        transition: color 0.3s ease-out;

        &:hover {
          color: var(--secondary-btn-color-hover);
        }

        @include mixins.breakpoint(laptop) {
          font-size: 32px;
        }
      }
    }
  }

  &__info {
    @include mixins.flex(column, flex-start, flex-start, 20px);
    padding-inline: 16px;
    padding-bottom: 16px;

    @include mixins.breakpoint(laptop) {
      @include mixins.flex(row, space-between, flex-start);
      padding-inline: 40px;
    }

    &__links {
      @include mixins.flex(column, flex-start, flex-start, 20px);

      &__title {
        padding-bottom: 5px;
      }

      &__link {
        color: inherit;
        border-bottom: 2px solid transparent;
        transition: all 0.2s ease-out;

        &:hover {
          border-bottom: 2px solid var(--main-color);
        }
      }
    }
  }

  &__signature {
    text-align: center;
    background-color: var(--main-color);
    color: black;
    padding-block: 4px;
  }
}
