@use "../../assets/mixins.scss";

.CarouselCards {
  @include mixins.flex(column, flex-start, flex-start, 40px);
  width: 100%;
  padding-block: 60px;
  background-color: white;

  @include mixins.breakpoint(laptop) {
    padding-inline: 24px;
    padding-block: 80px;
  }

  &__title {
    font-size: 24px;
    padding-left: 16px;

    @include mixins.breakpoint(laptop) {
      padding-left: 0;
    }
  }
}
