@use "../../assets/mixins.scss";

.categories-section {
  width: 100%;
  padding-block: 60px;
  padding-inline: 16px;
  background-color: var(--gray);

  @include mixins.breakpoint(laptop) {
    padding-block: 80px;
    padding-inline: 40px;
  }

  &__container {
    display: grid;
    gap: 16px;
    max-width: 1360px;
    margin-inline: auto;

    @include mixins.breakpoint(laptop) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    &__box {
      position: relative;
      border-radius: 10px;
      height: 300px;
      background-color: white;
      box-shadow: var(--box-shadow-primary);

      &__info {
        @include mixins.flex(column, flex-start, center, 25px);
        @include mixins.position(absolute, 50%, auto, auto, 50%);
        transform: translate(-50%, -50%);
        z-index: 1;

        @include mixins.breakpoint(laptop) {
          @include mixins.flex(column, flex-start, flex-start, 25px);
          @include mixins.position(absolute, 50%, auto, auto, 30%);
          width: 200px;
        }

        &__title {
          font-weight: 600;
          font-size: 40px;
          text-align: center;

          @include mixins.breakpoint(laptop) {
            font-size: 25px;
            text-align: left;
          }
        }

        &__btn {
          color: white;
          background-color: black;
          padding: 10px 15px;
          border-radius: 4px;
          transition: background-color 0.3s ease-out;

          &:hover {
            background-color: var(--primary-btn-color-hover);
          }
        }
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0.4;

        @include mixins.breakpoint(laptop) {
          opacity: 1;
          width: 60%;
          @include mixins.position(absolute, auto, 0);
        }
      }
    }
  }
}
