@use "../../assets/mixins.scss";

.AuthLogoutBtn {
  &.dropdown {
    display: block;
    width: 100%;
  }

  &__btn {
    cursor: pointer;
    color: rgb(226, 35, 35);

    &.dropdown {
      text-align: left;
      width: 100%;
      color: rgb(226, 35, 35);
      background-color: unset;
      border-radius: unset;
      padding: 20px;

      &:hover {
        background-color: var(--main-color-hover);
      }
    }
  }
}
