@use "../../assets/mixins.scss";

.AuthLogoutBtn {
  &__btn {
    cursor: pointer;
    color: rgb(226, 35, 35);

    &.dropdown {
      text-align: left;
      color: rgb(226, 35, 35);
      background-color: unset;
      border-radius: unset;
      padding: 20px;
      text-decoration: underline;
      text-decoration-thickness: 2.5px;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.3s ease-out;
      text-decoration-skip-ink: none;

      &:hover {
        text-decoration-color: rgb(226, 35, 35);
      }
    }
  }
}
