@use "../../assets/mixins.scss";

.CartProduct {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  grid-template-areas:
    "image title cross"
    "image price input";
  column-gap: 15px;

  &.active {
    opacity: 0.5;
  }

  @include mixins.breakpoint(laptop) {
    grid-template-columns: 120px repeat(3, 1fr) 40px;
    grid-template-areas: none;
    place-items: center;
  }

  &__img-container {
    grid-area: image;
    border-radius: 15px;
    box-shadow: var(--box-shadow-primary);

    @include mixins.breakpoint(laptop) {
      grid-area: auto;
    }

    &__img {
      object-fit: contain;
      padding: 5px;
    }
  }

  &__title-container {
    grid-area: title;

    @include mixins.breakpoint(laptop) {
      grid-area: auto;
      place-self: center start;
    }

    &__title {
      font-size: 14px;
    }
  }

  &__price {
    grid-area: price;
    place-self: end start;

    @include mixins.breakpoint(laptop) {
      place-self: center start;
      grid-area: auto;
      font-size: 16px;
    }
  }

  &__icon {
    cursor: pointer;
    grid-area: cross;
    place-self: start end;
    font-size: 40px;

    @include mixins.breakpoint(laptop) {
      place-self: auto;
      grid-area: auto;
    }
  }
}
