@use "../../assets/mixins.scss";

.CartProducts {
  position: relative;
  min-height: calc(100vh - 10vh - 179px); // Navbar - Checkout's height
  @include mixins.flex(column, normal, normal, 20px);
  grid-area: products;
  padding-block: 20px;

  @include mixins.breakpoint(laptop) {
    min-height: calc(
      100vh - 10vh - 40px - 35px
    ); // Navbar - CartPage's margin top - __product's details' height
  }

  &__empty-cart {
    @include mixins.position(absolute, 50%, auto, auto, 50%);
    list-style-type: none;
    font-weight: bold;
    font-size: 22px;
    opacity: 0.5;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}
