@use "../../assets/mixins.scss";

.CartProducts {
  position: relative;
  min-height: calc(
    100vh - 80px - 160px - 16px
  ); // Navbar - Checkout's height - CartProducts' padding bottom
  @include mixins.flex(column, normal, normal, 16px);
  grid-area: products;
  padding-top: 0;
  padding-bottom: 16px;

  @include mixins.breakpoint(laptop) {
    min-height: calc(
      100vh - 80px - 40px - 35px - 40px
    ); // Navbar - main-layout's padding top - __product's details' height - CartProducts' padding block
    padding-top: 20px;
    padding-bottom: 0;
  }

  &__empty-cart {
    @include mixins.position(absolute, 50%, auto, auto, 50%);
    list-style-type: none;
    font-weight: bold;
    font-size: 22px;
    opacity: 0.5;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}
