@use "../../assets/mixins.scss";

.Slider {
  position: relative;
  height: calc(100vh - 80px);
  margin-top: 80px;

  &__img {
    @include mixins.position(absolute);
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-out;

    &.active {
      opacity: 1;
    }
  }

  &__info {
    @include mixins.flex(column, flex-start, center, 20px);
    @include mixins.position(absolute, 50%, 50%);
    transform: translate(50%, -50%);
    width: 300px;
    z-index: 2;

    @include mixins.breakpoint(laptop) {
      width: 450px;
    }

    &__title {
      font-size: 34px;
      text-align: center;
      color: rgb(228, 30, 19);

      @include mixins.breakpoint(laptop) {
        font-size: 42px;
      }
    }

    &__btn {
      color: white;
      background-color: black;
      padding: 20px;
      border-radius: 50px;
      transition: background-color 0.3s ease-out;
      font-size: 22px;

      &:hover {
        background-color: var(--primary-btn-color-hover);
      }
    }
  }
}
