@use "../../assets/mixins.scss";

.Slider {
  position: sticky;
  height: calc(100vh - 80px);
  top: 80px;
  z-index: 0;

  &__img {
    @include mixins.position(absolute);
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-out;

    &.active {
      opacity: 1;
    }
  }

  &__info {
    @include mixins.flex(column, flex-start, center);
    @include mixins.position(absolute, 50%, 50%);
    transform: translate(50%, -50%);
    z-index: 2;

    &__title {
      font-size: 88px;
      text-align: center;
      color: rgb(228, 30, 19);
      line-height: 0.8;

      @include mixins.breakpoint(laptop) {
        font-size: 118px;
      }

      &.bottom {
        font-size: 50px;
        line-height: normal;

        @include mixins.breakpoint(laptop) {
          font-size: 66px;
        }
      }
    }

    &__text {
      font-size: 14px;
      color: white;
      font-weight: 600;
    }

    &__btn {
      color: white;
      background-color: black;
      padding: 20px;
      border-radius: 4px;
      transition: background-color 0.3s ease-out;
      font-size: 22px;
      margin-top: 20px;

      &:hover {
        background-color: var(--primary-btn-color-hover);
      }
    }
  }
}
