@use "../../assets/mixins.scss";

.Slider {
  position: relative;
  height: 70vh;

  &__img {
    @include mixins.position(absolute);
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  &__img.active {
    opacity: 1;
  }
}
